<!-- <div class="" *ngIf="isTestPage">
    ABC

    <div class="bootstrapped">
        <div class="container">


            <div class="row">
                <div class="col-6" style="border: 1px solid #333; background-color:yellow;">col-8</div>
                <div class="col-6" style="border: 1px solid #333; background-color:yellow;">col-4</div>
            </div>
            <div class="row">
                <div class="col-6" style="border: 1px solid #333; background-color:yellow;">col-8</div>
                <div class="col-6" style="border: 1px solid #333; background-color:yellow;">col-4</div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3" style="border: 1px solid #333; background-color:yellow;">
                    One of three columns
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9" style="border: 1px solid #333; background-color:pink;">
                    One of three columns
                </div>
            </div>

        </div>
    </div>
</div> -->

<div class="affliate" *ngIf="isAffliate">
    <p style="font-size: 50px; font-weight: 900; background-color: #e7f9ff; text-align: center;">COMING SOON</p>
</div>
<div class="referral" *ngIf="isReferral">
    <p style="font-size: 50px; font-weight: 900; background-color: #e7f9ff; text-align: center;">COMING SOON</p>
</div>
<div class="faq" *ngIf="isFaqPage">
    <h5>FAQ</h5>
    <br />
    <div style="font-weight: bold;">
        How do I change my credit card details?
    </div>
    <div>
        Click Login -> Enter your email -> You will get OTP on your email -> After login please click ‘change card
        details’
        -> Enter new card details then save.
    </div>
    <br />
    <div style="font-weight: bold;">
        How to change subscription product?
    </div>
    <div>
        Click Login -> Enter your email -> You will get OTP on your email -> After login please click ‘update product
        subscription’ -> Modify product and click save.
    </div>
    <br />
    <div style="font-weight: bold;">
        How to get free visit?
    </div>
    <div>
        Customers need to use same email address to login Telehealth portal. Procedure or Visit charges will be waives
        off.
        If you are still experiencing any problems, then please contact patienthelpdesk@drstellamd.com
    </div>
    <br />
    <div style="font-weight: bold;">
        How to cancel my subscription?
    </div>
    <div>
        Click Login -> Enter your email -> You will get OTP on your email -> After login please click the ‘Stop
        Subscription’ button.
    </div>
</div>