<div class="paymentManualIntervention" *ngIf="isPaymentPageIssue">
    <p style="font-size: 30px; font-weight: 900; background-color: #e7f9ff; text-align: center;">PAYMENT PAGE MANUAL
        INTERVENTION ALERT</p>
    <div class="paymentManualInterventionText center">
        <div>You are here due to following actions:</div>
        <div>1. Either when on payment page the page has been refreshed.</div>
        <div>2. Or URL has been modified during payment progress.</div>
        <br/>
        <div>Please Note :</div>
        <div>Your cart/payment information is safe.</div>
        <div>Please go to product page by selecting SHOP -> SHOP ALL tab from menu and click on Cart and Click "Check Out" button.</div>
    </div>
</div>

<div *ngIf="isOtherPageIssue">
    <a href="#" target="_blank">
        <header class="top-header">
        </header>

        <!--dust particel-->
        <div>
            <div class="starsec"></div>
            <div class="starthird"></div>
            <div class="starfourth"></div>
            <div class="starfifth"></div>
        </div>
        <!--Dust particle end--->


        <div class="lamp__wrap">
            <div class="lamp">
                <div class="cable"></div>
                <div class="cover"></div>
                <div class="in-cover">
                    <div class="bulb"></div>
                </div>
                <div class="light"></div>
            </div>
        </div>
        <!-- END Lamp -->
        <section class="error">
            <!-- Content -->
            <div class="error__content">
                <div class="error__message message">
                    <h1 class="message__title">Page Not Found</h1>
                    <p class="message__text">We're sorry, the page you were looking for isn't found here. The link you
                        followed may either be broken or no longer exists. Please try again, or take a look at our.</p>
                </div>
                <div class="error__nav e-nav">
                    <a href="" target="_blanck" class="e-nav__link"></a>
                </div>
            </div>
            <!-- END Content -->

        </section>

    </a>
</div>