<footer *ngIf="!isCustomer" class="footer">
  <div class="bootstrapped">
    <div class="container custom-width ">
      <div class="row">
        <div class="col-12">
          <div class="footer__content">
            <h6 class="footer__copyright">
              Copyright © <a href="https://drstellamd.com/" target="_blank">Dr. Stella MD</a>&nbsp; all rights reserved.
            </h6>
            <div class="footer__social">
              <a href="https://www.facebook.com/drstella.gwp" target="_blank" class="facebook">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
              <a target="_blank" class="youtube social-icon" href="https://www.youtube.com/user/firpowerministries"
                title="Youtube">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>